@charset "UTF-8";
* body {
    background: #222D32;
    font-family: 'Roboto', sans-serif;
}
form
{
    background-color: #1A2226;
    margin-top: 100px;
    margin-left: 300px;
    width: 50%;
    height: 700px ;	
  
    border-radius: 10px;
    

}
form .login-key
{
    background-color: aliceblue;
}
div.login{
    text-shadow: 2px 2px 4px#3bde5e;        
    color: azure;
    padding-top: 20px;
    padding-left: 225px;
    
    
}

div.details
{
    padding-left: 50px;
    
    color: #6C6C6C;
    letter-spacing: 1px;    
    font-weight: bold;

    font-size: 10px;
    box-shadow: 0 0 0;
    
}

.details input
{
    
    padding-top: 10px;
    background-color: #1A2226;
    color: aliceblue;
    font-size: 20px;
    outline: 0px;
    border: none;
    border-bottom: 2px solid aqua;
    width: 500px;
    padding-bottom: 5px;
   
}
.submit
{
    background-color: #1A2226;
    display: flex;
    padding-Left:15px;
}
.submit button
{
    margin-top: 30px;
    margin-left: 35px;
   
    border-color: #0cbbe2;
    background-color: #1A2226;
    height: 30px;
    width: 100px;
    color: #0cbbe2;
    border-radius: 2px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.submit button:hover {
    background-color: #0DB8DE;
    color: white;
    right: 0px;
}
